body {
    font-family: Arial;
    background-color: #f7f5ff;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    margin: 40px auto;
    width: 800px;
    border: 2px solid #dcd6f7;
    text-align: center;
  }
  h1 {
    color: #6c63ff;
  }
  
  h3 {
    color: #666;
  }
  
  button {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 6px;
  }
  
  button:hover {
    background-color: #5a52e0;
    font-weight: bold;
  }
  
  pre {
    background-color: #f0f0ff;
    padding: 12px;
    border: 1px solid #dcd6f7;
  
    white-space: pre-wrap;   /* wraps long lines */
    word-break: break-word;  /* forces long tokens to wrap by break it*/
  
    font-size: 12px;
  }